
body {
  box-sizing: border-box;
  margin: 0;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.def-header,
.def-footer {
  width: 100%;
  height: 10rem;
  vertical-align: top;
  background: url(../images/bkg.png) no-repeat 50% 80%;
}

.centering {
  width: 85%;
  margin: 0 auto;
  vertical-align: top;
  /* outline: 2px solid black; */
}

/* .def-header>div>div,
.def-footer>div>div {
  display: inline-block;
  outline: 1px solid black;
  margin-right: 2rem;
} */

.big-name {
  width: 30rem;
  color: white;
  font-size: 5rem;
  font-style: italic;
  font-weight: bold;
  line-height: 10rem;
}

/* .def-footer .social-logos {
  position: relative;
  top: -11.5rem;
  right: -40rem;
  background-color: rgba(255, 0, 0, 0.4);
  width: 60%;
  height: 10rem;
} */

.def-content {
  position: relative;
  width: 100%;
}

.def-content .centering {
  margin: 3rem auto;
}

.post-container {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(20rem, 1fr));
  grid-auto-rows: auto;
  grid-gap: 2rem;
  margin: 0 auto;
  /* outline: 1px solid black; */
}

.post-card {
  /* outline: 1px solid black; */
  padding: .5rem;
  height: 20rem;
  background-color: aqua;
}

.def-content h1.main-title {
  font-size: 3rem;
}

.def-content h2 {
  font-size: 2rem;
}
