@font-face {
  font-family: Aileron;
  src: url("../fonts/aileron/Aileron-Regular.otf") format("opentype");
}

@font-face {
  font-family: "Open Sans Light";
  font-style: normal;
  font-weight: 300;
  src: url("https://fonts.gstatic.com/s/opensans/v13/DXI1ORHCpsQm3Vp6mXoaTRa1RVmPjeKy21_GQJaLlJI.woff") format("woff");
}

body {
  box-sizing: border-box;
  margin: 0;
  /* font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif; */
  font-family: "Open Sans Light", Tahoma, sans-serif;
  font-size: 20px;
  height: 100vh;
}

a {
  text-decoration: none;
  color: black;
}

a:hover {
  color: brown;
}

h1,
h2,
h3,
h4 {
  font-weight: normal;
  font-family: "Aileron", Arial, Helvetica, sans-serif;
  font-size: 2em;
  text-transform: uppercase;
  margin-top: 2em;
}

h3,
h4 {
  font-size: 1.2em;
  text-indent: 1.2em;
  font-style: italic;
}

.about hr {
  margin-top: 2em;
}

.about a {
  font-style: italic;
}

.def-header,
.def-footer {
  width: 100%;
  height: 6rem;
  vertical-align: top;
  z-index: 10;
  font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
  /* background: rgb(119,53,34);
  background: linear-gradient(90deg, rgba(119,53,34,1) 0%, rgba(20,115,114,1) 100%); */
  background-color: rgb(32, 32, 32);
}

.navigation {
  font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}

.def-header {
  position: fixed;
  top: 0;
}

.centering {
  width: 85%;
  margin: 0 auto;
  vertical-align: top;
  /* outline: 2px solid black; */
}

/* .def-header>div>div,
.def-footer>div>div {
  display: inline-block;
  outline: 1px solid black;
  margin-right: 2rem;
} */

.big-name {
  display: inline-block;
  /* width: 30rem; */
  color: white;
  font-size: 3rem;
  font-style: italic;
  font-weight: bold;
  line-height: 6rem;
  margin-right: 2rem;
}

.def-header .navigation {
  position: relative;
  top: -0.3rem;
  display: inline-block;
  height: 3rem;
}

.def-header .navigation ul {
  list-style: none;
}

.def-header .navigation li {
  display: inline;
  margin-right: 1.5rem;
}

.def-header .navigation li a {
  color: white;
  font-size: 2rem;
  line-height: 3rem;
}

/* .def-footer .social-logos {
  position: relative;
  top: -11.5rem;
  right: -40rem;
  background-color: rgba(255, 0, 0, 0.4);
  width: 60%;
  height: 10rem;
} */

.def-header .language-selector {
  position: fixed;
  top: 1.3rem;
  right: 1%;
  display: block;
  /* width: 3rem; */
}

.def-header .language-selector ul {
  list-style: none;
}

.def-header .language-selector li {
  display: inline;
}

.def-header .language-selector a {
  color: white;
}

.def-content {
  position: relative;
  top: 5rem;
  width: 100%;
  min-height: calc(100vh - 12rem);
  margin-bottom: 8rem;
}

.def-content .centering {
  margin: 3rem auto;
}

.post-container {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(20rem, 1fr));
  grid-auto-rows: auto;
  grid-gap: 2rem;
  margin: 0 auto;
  /* outline: 1px solid black; */
}

.post-card {
  /* outline: 1px solid black; */
  position: relative;
  /* min-width: 360px; */
  padding: 1rem;
  text-align: right;
  min-height: 18rem;
  background-color: antiquewhite;
}

.pet-projects {
  padding: 1rem;
  margin: 1rem auto;
}

.pet-projects .project {
  margin: 2rem;
  padding: 2rem;
  filter: none;
  box-shadow: 0 3px 10px rgb(0, 0, 0, 0.2);
  border-radius: 0.5rem;
}

.pet-projects .project h3 {
  margin: 0;
}

.def-content h1.main-title {
  font-size: 2rem;
}

.def-content h2 {
  font-size: 1.8rem;
}

.post-card .bottom-line {
  position: absolute;
  width: 80%;
  bottom: 1rem;
  right: 1rem;
}

.briefly {
  opacity: 0.6;
  font-size: 20px;
  font-weight: normal;
  font-style: italic;
}

.post-card hr {
  border: 1px solid black;
}

.post-inner img {
  max-width: 100%;
}

.post-card.light {
  color: black;
}

.post-card.light hr {
  border: 1px solid black;
}

.post-card.dark {
  color: white;
}

.post-card.dark hr {
  border: 1px solid white;
}

.def-header .mobile-menu {
  display: none;
}

.about img {
  max-width: 100%;
}

.post-nav a {
  display: block;
  width: 3rem;
  height: 3rem;
  position: fixed;
  top: 50%;
  opacity: 0.15;
  text-align: center;
}

.post-nav .arrow {
  font-size: 2rem;
}

.post-nav .post-prev {
  left: 1.2rem;
}

.post-nav .post-next {
  right: 1.2rem;
}

.pagination {
  margin: 1rem auto;
  /* outline: 1px solid red; */
  text-align: center;
  font-size: 1.5rem;
}

.pagination .current-paginator-page {
  color: lightsalmon;
}

.disabled {
  opacity: 0.4;
}

@media screen and (max-width: 1150px) {
  .def-header .language-selector {
    top: -0.4rem;
    right: 5%;
    display: block;
    /* width: 3rem; */
  }

  .def-header .language-selector li {
    display: block;
  }

  .def-header .language-selector .slash {
    display: none;
  }
}

@media screen and (max-width: 1130px) {
  .def-header .navigation {
    display: none;
  }

  .def-header .mobile-menu {
    z-index: -1;
    opacity: 0;
  }

  .def-header .mobile-menu+label {
    position: fixed;
    top: 1.5rem;
    left: 1rem;
    display: block;
    width: 3rem;
    height: 3rem;
    background: url(../images/menu_mobile.svg) no-repeat 0 0;
    user-select: none;
  }

  .def-header .mobile-menu:checked+label {
    position: fixed;
    top: 1.5rem;
    left: 1rem;
    display: block;
    width: 3rem;
    height: 3rem;
    background: url(../images/menu_close.svg) no-repeat 0 0;
    user-select: none;
  }

  .mobile-menu-contents {
    position: fixed;
    top: 6rem;
    width: 100%;
    text-align: center;
  }

  .mobile-menu-contents ul {
    position: relative;
    left: -1rem;
    list-style: none;
    font-size: 2rem;
    line-height: 4rem;
  }

  .mobile-menu-contents a {
    color: rgba(0, 0, 0, 0.5);
  }

  .post-nav span:last-child {
    display: none;
  }

  .post-nav a {
    top: 18%;
    opacity: 0.1;
  }

  .post-nav .post-prev {
    left: 0.5rem;
  }
  
  .post-nav .post-next {
    right: 0.5rem;
  }
}

@media screen and (max-width: 768px) {
  .post-container {
    display: grid;
    grid-template-columns: 1fr;
    grid-auto-rows: auto;
    grid-gap: 2rem;
    margin: 0 auto;
  }

  .big-name {
    position: relative;
    left: 1.5rem;
    font-size: 2.5rem;
  }
}

@media screen and (max-width: 450px) {
  .big-name {
    position: relative;
    left: 2.5rem;
    font-size: 1.8rem;
  }

  .pet-projects .project {
    margin-left: 1rem;
    margin-right: 1rem;
    word-break: break-word;
  }

  .post-card {
    word-break: break-word;
  }
}

@media screen and (max-width: 330px) {
  .big-name {
    position: relative;
    left: 3rem;
    font-size: 1.5rem;
  }

  .pet-projects .project {
    margin-left: 0.5rem;
    margin-right: 0.5rem;
  }
}

@media screen and (max-width: 290px) {
  .big-name {
    position: relative;
    left: 1.2rem;
    font-size: 1.2rem;
  }

  .pet-projects .project {
    margin: 2rem 0;
  }
}