<!doctype html>
<html>
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{{ page.title }}</title>
    <link rel="stylesheet" href="/assets/css/styles.css">
    {% feed_meta %}
    {% seo %}
  </head>
  <body>
    <header class="def-header">
      <input class="mobile-menu" type="checkbox" name="mobile-menu-is-checked" id="mob-menu" onclick="toggleMobileMenu();">
      <label for="mob-menu"></label>

      <div class="language-selector">
        <ul>
          <li><a class="EN" href="/">EN<span class="slash">/</span></a></li>
          <li><a class="RU" href="/ru/">RU<span class="slash">/</span></a></li>
          <li><a class="DE" href="/de/">DE</a></li>
        </ul>
      </div>

      <div class="centering">
        <!-- <div class="big-name">
          {% if page.date %}
            ~{{ page.date | date: "%d.%m.%Y" }}~
          {% else %}
            ~{{ page.title | upcase }}~
          {% endif %}
        </div> -->
        <img class="drm-logo" src="/assets/images/drm_urban_logo.svg">
        {% include navigation.html %}
      </div>
    </header>

    <section id="menu-to-show" class="mobile-menu-contents" style="display: none;">
      {% include navigation.html %}
    </section>

    <section id="content-to-show" class="def-content">
      <div id="content-box" class="centering">
        {{ content }}
      </div>
    </section>

    <footer class="def-footer">
      <div class="centering">
        <!-- <div class="big-name">
          {% if page.date %}
            ~{{ page.date | date: "%d.%m.%Y" }}~
          {% else %}
            ~{{ page.title | upcase }}~
          {% endif %}
        </div> -->
        <img class="drm-logo" src="/assets/images/drm_urban_logo.svg">
        <!-- <div class="social-logos"></div> -->
      </div>
    </footer>
    <script src="/assets/js/script.js"></script>
  </body>
</html>
