---
layout: default
---

<h1>{{ page.title }}</h1>
<hr>
<span class="briefly">{{ page.about }}</span>

<p class="briefly">
  {{ page.date | date: "%d.%m.%Y" }}
</p>

<div class="post-inner">
  {{ content }}
</div>

<div class="post-nav">
  {% if page.previous.url %}
    <a class="post-prev" id="post-prev" href="{{ page.previous.url }}"><img src="{{ site.baseurl }}assets/images/menu_prev.svg"><span>ctrl&#8592;</span></a>
  {% endif %}
  
  {% if page.next.url %}
    <a class="post-next" id="post-next" href="{{ page.next.url }}"><img src="{{ site.baseurl }}assets/images/menu_next.svg"><span>ctrl&#8594;</span></a>
  {% endif %}
</div>
