---
layout: default
lang: page.categories
---

<h1>{{ page.title }}</h1>
<hr>
<span class="briefly">{{ page.about }}</span>

<p class="briefly">
  {{ page.date | date: "%d.%m.%Y" }}
</p>

<div class="post-inner">
  {{ content }}
</div>

<div class="post-nav">
  {% if page.next_in_category != nil %}
	  <a class="post-prev" id="post-prev" href="{{page.next_in_category.url}}"><span class="arrow">&lt;--</span><br><span>ctrl&#8592;</span></a>
  {% endif %}
  
  {% if page.previous_in_category != nil %}
	  <a class="post-next" id="post-next" href="{{page.previous_in_category.url}}"><span class="arrow">--&gt;</span><br><span>ctrl&#8594;</span></a>
  {% endif %}
</div>
